/* Plyr Customization */
.plyr-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plyr {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
}

.plyr__video-wrapper {
    width: 100%;
    height: 100%;
}

.plyr video {
    object-fit: cover;
}

/* Hide Plyr controls completely as we have our own overlay */
.plyr--full-ui.plyr--video .plyr__control--overlaid,
.plyr__controls,
.plyr__poster {
    display: none !important;
}